In [1]:
import pandas as pd

In [2]:
data = {"Process ID":['P1', 'P2', 'P3'],"Arrival Time": [0,1,2] , "Burst Time":[9,4,9]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Process ID  Arrival Time  Burst Time
0         P1             0           9
1         P2             1           4
2         P3             2           9

In [ ]:
df["Turn Around Time"] = 0
df["Waiting Time"] = 0

def calculate_fcfs_metrics(burst_times):
    n = len(burst_times)
    
    # Initialize variables
    waiting_time = [0] * n
    turnaround_time = [0] * n
    completion_time = [0] * n
    
    # Calculate Completion Time for each process
    completion_time[0] = burst_times[0]  # First process completion time is its burst time
    for i in range(1, n):
        completion_time[i] = completion_time[i - 1] + burst_times[i]
    
    # Calculate Turnaround Time for each process (TAT = CT - AT, where AT = 0 for all)
    for i in range(n):
        turnaround_time[i] = completion_time[i]
    
    # Calculate Waiting Time for each process (WT = TAT - Burst Time)
    for i in range(n):
        waiting_time[i] = turnaround_time[i] - burst_times[i]
    
    # Calculate Average Waiting Time
    avg_waiting_time = sum(waiting_time) / n
    
    return completion_time, turnaround_time, waiting_time, avg_waiting_time


# Input Burst Times for the processes
burst_times = [7, 5, 3, 1, 2, 1]

# Calculate all metrics for FCFS
completion_time, turnaround_time, waiting_time, avg_waiting_time = calculate_fcfs_metrics(burst_times)

In [9]:
df["Completion Time"] = [13, 5, 22]

In [10]:
df

,Process ID,Arrival Time,Burst Time,Completion Time,Turn Around Time,Waiting Time
0,P1,0,9,13,0,0
1,P2,1,4,5,0,0
2,P3,2,9,22,0,0

In [11]:
df['Turn Around Time'] = df['Completion Time'] - df['Arrival Time']

In [12]:
df['Waiting Time'] = df['Turn Around Time'] - df['Burst Time']

In [ ]:
df

,Process ID,Arrival Time,Burst Time,Completion Time,Turn Around Time,Waiting Time
0,P1,0,9,13,13,4
1,P2,1,4,5,4,0
2,P3,2,9,22,20,11